<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- --------------------------------------------------------------- -->
    <!-- ---------------------------------------------------------------- -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>
    <!-- ---------------------------------------------------------------- -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Company</title>
</head>

<body style="background-color:burlywood;">
    <div class="container text-center text-white">
        <div class="row pt-5">
            <div class="col-lg-8 mx-auto">
                <h1 class="display-4">Company</h1>
                <div id="datePikerInfo">

                </div>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="card rounded-0 border-0 shadow">
                    <div class="card-body p-5" style="width: 1200px;background-color:rgb(213, 219, 224)">

                        <!--  Bootstrap table-->
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th id="Row" scope="col">Row</th>
                                        <th id="Name" scope="col"> Name</th>
                                        <th id="Number_Record" scope="col"> Number Record</th>
                                        <th id="City" scope="col"> City</th>
                                        <th id="State" scope="col"> State</th>
                                        <th id="Date_Record" scope="col"> Date Record</th>
                                        <th id="Number" scope="col"> Number</th>
                                        <th id="Number" scope="col"> Employee's</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <!-- todo ---------------------------------- Modal -------------------------------------- -->
                        <div class="w3-container">
                            <button onclick="Fade_modal()" class="w3-button w3-black">CREATE NEW COMPANY</button>
                            <div id="id01" class="w3-modal w3-animate-opacity">
                                <div class="w3-modal-content w3-card-4">
                                    <header class="w3-container w3-teal">
                                        <span id="Btn_Modal" onclick="Btn_modal()" class="w3-button w3-large w3-display-topright">&times;</span>
                                        <h2></h2>
                                    </header>
                                    <div id="Company_Info" .class="w3-container" style="height: 600px">


                                    </div>
                                    <footer class="w3-container w3-teal">
                                        <p></p>
                                    </footer>
                                </div>
                            </div>
                        </div>



                        <script src="../public/javascripts/Company.js"></script>
</body>

</html>